@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-family: 'Droid Sans', sans-serif;
    padding-bottom: 40px;
    font-size: 15px;
}
.hrow {
    font-weight:bold;
    color: #555;
}
.hrow td{
    padding-top: 20px;
}
.timer { font-weight: bold; font-size: 25px; }
.date { font-size: 17px; padding-left: 8px; }
.offset { margin-left: 8px; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #fff;
}
.details { opacity: 0; }
.loader { 
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    width:100%;
    z-index:1000;
    height:100%;
    opacity: .8;
}
.loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block; 
}
